body{
    display: grid;
    place-items: center;
   background-image: url('pic.jpg');
   background-size: cover;
   background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

form{
    background-color: cornsilk;
    padding: 80px;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    box-shadow: 30px 30px 10px rgba(245, 17, 55, 0.19);
    opacity: 0.9;
}

[ type="submit"]{
    height: 40px;
    margin: 20px;
    width: 100px;
    font-size: 15px;
    background-color: black;
    color: white;
    font: weight 1px;
    /* border-radius: 70%; */

}
form:hover{
    transform:scale(1.1);
    background-color: rgb(161, 224, 226);
}

.submit:hover {
transform: scale(1.2);
}

input{
    width: 25vw;
    border-radius: 5px;
    background-color: burlywood;
    
}

select{
border-radius: 5px;
background-color: burlywood;
}

#tempCalc label{
font-size: 30px;
}

#temp_diff{
    height: 40px;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    vertical-align: top;
   font-weight: bold;
   opacity: 1 !important;


}
#temp{
    height: 40px;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    /* padding: 10px;
    width: 200px; */
    opacity:1 !important;
}

#resultContainer{
    font-size: 35px;
}